.idea
out
*.iml
/production/B33Group10Tasks/narmin/week02/T1_ConsecutiveNumbers$1ConsecutiveNumbers.class
/production/B33Group10Tasks/narmin/week02/T1_ConsecutiveNumbers.class
/production/B33Group10Tasks/narmin/week02/T2_NumbersDivisibleBy$1DivisibleNumbers.class
/production/B33Group10Tasks/narmin/week02/T2_NumbersDivisibleBy.class
/production/B33Group10Tasks/narmin/week02/T3_SwapTwoVariables.class
/production/B33Group10Tasks/parviz/week01/Task1.class
/production/B33Group10Tasks/anna/week01/task01.class
/production/B33Group10Tasks/brian/week01/task01.class
/production/B33Group10Tasks/Dina/week01/task01.class
/production/B33Group10Tasks/justina/week01/task01.class
/production/B33Group10Tasks/naila/week01/task01.class
/production/B33Group10Tasks/narmin/week01/task01.class
/production/B33Group10Tasks/tasal/week01/task01.class
/production/B33Group10Tasks/anna/week01/task02.class
/production/B33Group10Tasks/brian/week01/task02.class
/production/B33Group10Tasks/Dina/week01/task02.class
/production/B33Group10Tasks/justina/week01/task02.class
/production/B33Group10Tasks/naila/week01/task02.class
/production/B33Group10Tasks/narmin/week01/task02.class
/production/B33Group10Tasks/tasal/week01/task02.class
/production/B33Group10Tasks/Dina/week01/task03$Main.class
/production/B33Group10Tasks/naila/week01/task03$Main.class
/production/B33Group10Tasks/narmin/week01/task03$Main.class
/production/B33Group10Tasks/anna/week01/task03.class
/production/B33Group10Tasks/brian/week01/task03.class
/production/B33Group10Tasks/Dina/week01/task03.class
/production/B33Group10Tasks/justina/week01/task03.class
/production/B33Group10Tasks/naila/week01/task03.class
/production/B33Group10Tasks/narmin/week01/task03.class
/production/B33Group10Tasks/tasal/week01/task03.class
/production/B33Group10Tasks/instructor/week01/W1_DivideWithoutDivision.class
/production/B33Group10Tasks/instructor/week01/W1_FinraDivideBy3_5.class
/production/B33Group10Tasks/instructor/week01/W1_NumberOddOrEven.class
/production/B33Group10Tasks/instructor/week02/W2_ConsecutiveNumbers.class
/production/B33Group10Tasks/instructor/week02/W2_NumbersDivisibleBy.class
/production/B33Group10Tasks/instructor/week02/W2_SwapTwoVariables.class
